body {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  margin: 0;
  line-height: inherit;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  background-color: rgb(15 23 42/1);
  color: rgb(203 213 225/1);
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

.max-container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
}

.warp-header.h1warp {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.warp-header.h1warp h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}


.warp-header.h2warp h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 200;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin-top: 0;
}

.warp-header.h3warp {
  z-index: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.warp-header.h3warp h3 {
  color: rgb(226 232 240/1);
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  border-bottom-left-radius: 0.5rem;
  background-color: rgb(16 185 129/1);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
}

.warp-header.h3warp .warp-body {
  z-index: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.h2warp-body {
  display: grid;
  gap: 1.75rem;
  font-size: 0.925rem;
  line-height: 1.325rem;
  grid-template-columns: repeat(3,minmax(0,1fr));
  flex-direction: column;
}

.h2warp-body .warp {
  background-color: rgb(30 41 59/1);
  color: rgb(203 213 225/1);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 6px 8px rgba(102,119,136,0.03),0 1px 2px rgba(102,119,136,0.3);

}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}


table td:not(:last-child)>code, kbd {
  background-color: rgb(51 65 85/0.5);
  color: rgb(203 213 225/1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
  letter-spacing: 0.075rem;
  padding: 0.1em 0.54em;
  border: 1px solid rgb(204,204,204);
  border-color: rgb(51 65 85/1);
  line-height: 1.6;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
}

table tr+tr {
  border-top: solid 1px #ececec94;
  border-color: rgb(51 65 85/0.5);
}

table td:first-child {
  white-space: nowrap;
}
table td, table th {
  padding: 9px 14px;
  text-align: left;
}
table tr th:last-child, table tr td:last-child {
  text-align: right;
}

.table-thead-hide thead {
  display: none;
}